<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- set up connection info -->
		<property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
		<property name="hibernate.connection.url">jdbc:postgresql://database-1.crqqwpiixeir.us-east-2.rds.amazonaws.com:5432/postgres?currentSchema=TuitionRefund</property>
		<property name="hibernate.connection.username">postgres</property>
		<property name="hibernate.connection.password">postgresproject1</property>
		
		<!-- hibernate setup -->
		<property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<property name="use_sql_comments">true</property>
		
		<!-- tell hibernate where to find our mappings -->
		<mapping class="com.revature.beans.Claim"></mapping>
		<mapping class="com.revature.beans.FinalReport"></mapping>
		<mapping class="com.revature.beans.Person"></mapping>
		<mapping class="com.revature.beans.Mailbox"></mapping>
		<mapping class="com.revature.beans.Status"></mapping>
	</session-factory>
</hibernate-configuration>